body {
  background-color: whitesmoke;
  color: #6c757d
}

#avatar{
  width: 250px;
  border-radius: 50%;
}

#line{
  width: 50px;
}

#about {
  background-color: whitesmoke;
}


.navbar {
  background-color: #ddd5d3;
  position: fixed;
  width: 100%;
  display: block;
  transition: top 0.3s;
  padding: 8px;
  text-decoration: none;
  font-size: 17px;
}


* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

#landing {
  height: 95vh;
  margin-top: 35px;
  /*Center the contect vertically using flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  
  margin-bottom: : 650px;
  /*Center the contect vertically using flexbox*/
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3.5px;
}

#contact {
  height: 100vh;
  margin-top:30px; 
  /*Center the contect vertically using flexbox*/
  
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}



/*Language I Used*/
.tools {
  padding: 20px;
  height: 480px;
  border: 5px solid #d4d8e8;
  margin: 20px;
  width: 100%;
  color: black;
  border-radius: 10px;
  color: #6c757d
}

h2 {
  color: #55968f;
}



/*Bootstrap Overrides*/

.jumbotron {
  background-image: url("./images/front1.jpg");
  background-repeat: no-repeat, no-repeat;

}

.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  size: 500px;
}

.fa:hover {
    opacity: 0.5;
}

.thumbnail:hover {
    position:relative;
    width:90px;
    height:auto;
    z-index:90;
}



.interests-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.interests-items div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  border-radius: 50%;
}
.interests-items div:hover i {
  transform: scale(1.2);
}
.interests-items div:hover span {
  color: $yellow;
  transition-duration: 0.3s;
}
.interests-items div i {
  font-size: 45px;
  width: 600px;
  height: 60px;
  line-height: 30px;
  color: $orange;
  transition-duration: 0.3s;
}
.interests-items div span {
  display: block;
}




ul, li{
  list-style: none;
  padding: 0;
}


.education{
  background: whitesmoke;
  padding: 2rem;
  border-radius: 12px;
}

.work{
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

.project{
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
li{
  padding-bottom: 1.5rem;
  border-left: 1px solid green;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  &:last-child{
    border: 0px;
    padding-bottom: 0;

  }
 
